#intro .item,
#intro-video .item {
  height: 100vh;
}

#intro .carousel-caption-center,
#intro-video .carousel-caption-center {
  width: 100%;
}

#testimonials .carousel .carousel-control {
  background: none;
}

.login-part input {
  height: auto;
}

.cs-style-1 figure:hover img {
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
}
.cs-style-1 figure:hover .info,
.cs-style-1 figure .info.active {
  -moz-transform: translateY(-185px);
  -ms-transform: translateY(-185px);
}
.cs-style-1 figcaption {
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
}
.cs-style-1 figure:hover figcaption,
.cs-style-1 figure figcaption.active {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
}


@media (max-width: 992px) {
  .cbp-af-header h1,
  .cbp-af-header .nav a {
    margin: 0;
  }
}


@media (max-width: 767px) {
  #intro .carousel-caption-center,
  #intro-video .carousel-caption-center {
    max-height: 255px;
  }
}