// Site theme colours

// Buttons and links
$primary: rgb(28, 165, 122);
$primary-light: mix($primary, white, 75%);
$primary-lighter: mix($primary, white, 50%);

$complementary: rgb(231, 39, 80);
$complementary-light: mix($complementary, white, 75%);
$complementary-lighter: mix($complementary, white, 50%);

// Text
//$darkest-grey: rgb(39, 45, 44);
$darkest-grey: #222;

$dark-grey: mix($darkest-grey, white, 80%);
$grey: mix($darkest-grey, white, 60%);
$light-grey: mix($darkest-grey, white, 40%);
$lightest-grey: mix($darkest-grey, white, 20%);

// Backgrounds
$background1: mix($darkest-grey, white, 10%);
$background2: mix($darkest-grey, white, 8%);
$background3: mix($darkest-grey, white, 6%);
$background4: mix($darkest-grey, white, 4%);
$background5: mix($darkest-grey, white, 2%);

// Bannery opacity
$banner-dark: rgba(black, 0.6);
$banner-light: rgba(black, 0);

// Sponsors
$github: #00B079;
$github-transparent: rgba($github, 0.5);
$digital-ocean: #0088EF;
$digital-ocean-transparent: rgba($digital-ocean, 0.5);
$mda: #00667F;
$mda-transparent: rgba($mda, 0.5);
$lighthouse-labs: #17a3dd;
$lighthouse-labs-transparent: rgba($lighthouse-labs, 0.5);
$vling: #022d4d;
$vling-transparent: rgba($vling, 0.5);
$coastal-regin: #2FBEAF;
$coastal-reign-transparent: rgba($coastal-regin, 0.5);
$pull-reminders: #000;
$pull-reminders-transparent: rgba($pull-reminders, 0.5);
