// Base styles

@import 'utils/_colors.scss';
@import './utils/_breakpoints.scss';

::-moz-selection { 
    //color:$primary-light;
    background: #dedede;
}

::-webkit-selection { 
    //color:$primary-light;
    background: #dedede;
}

::selection {
    //color: $primary-light ;
    background: #dedede;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans";
  font-size: 12pt;
  color: $dark-grey;
}

h1 {
  font-size: 1.8em;
  font-weight: 900;
  //letter-spacing: 2pt;
  color: $darkest-grey;
  padding-bottom: 1em;
  text-transform: uppercase;

  @media screen and (max-width: $laptop) {
    font-size: 1.75em;
  }

  @media screen and (max-width: $phablet) {
    font-size: 1.5em;
  }
}

h2 {
  font-size: 1em;
  letter-spacing: 2pt;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: $primary;
}

p {
  font-weight: 300;
  line-height: 1.5em;

  &.large {
    font-size: 1.25em;
    line-height: 2em;
    padding-bottom: 2em;
    padding-left: 8em;
    padding-right: 8em;

    @media screen and (max-width: $desktop) {
      padding-left: 4em;
      padding-right: 4em;
    }

    @media screen and (max-width: $laptop) {
      padding-left: 0;
      padding-right: 0;
      font-size: 1em;
    }
  }

  &.small {
    padding: 0 2em;
    line-height: 2em;

    @media screen and (max-width: $tablet) {
      padding: 0 1em;
      line-height: 1.5em;
    }
  }
}

ul {
  list-style-type: none;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: $complementary;

  &:hover {
    text-decoration: underline;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media screen and (max-width: $phablet) {
    flex-direction: column;
  }
}

.col {
  display: inline-block;
  vertical-align: top;
  @media screen and (max-width: $phablet) {
    padding: 1em;
  }
}
