@import '_colors.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans";
  font-size: 12pt;
  color: $dark-grey;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 2pt;
  color: $darkest-grey;
  padding-bottom: 1em;
}

p {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 2em;
  padding-bottom: 2em;
}

a {
  font-size: inherit;
  text-decoration: none;
}

.right {
  float: right;
}

.left {
  float: left;
}
