@import '_colors.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans";
  font-size: 12pt;
  color: $dark-grey;
}

a {
  font-size: inherit;
}

.right {
  float: right;
}

.left {
  float: left;
}
