// A button component. Not currently used, but you never know when you'll need a button!

@import './utils/_colors.scss';

a.button {
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 1pt;
  color: white;
  cursor: pointer;

  display: inline-block;
  padding: 0.62em 1em;
  border-radius: 4px;
  border-width: 0;
  text-decoration: none;

  transition: background-color, 0.5s;
  background-color: $primary;

  &:hover {
    background-color: $primary-light;
  }

  &:focus, &:active {
    background-color: $primary-lighter;
  }
}
