$primary: rgb(0, 172, 125);
$primary-light: lighten($primary, 10%);
$primary-lighter: lighten($primary, 15%);

$darkest-grey: rgb(48, 56, 52);
$dark-grey: lighten($darkest-grey, 20%);
$grey: lighten($darkest-grey, 40%);
$light-grey: lighten($darkest-grey, 60%);
$lightest-grey: lighten($darkest-grey, 70%);
$background: lighten($darkest-grey, 72.5%);
$light-background: lighten($darkest-grey, 75%);
$lightest-background: lighten($darkest-grey, 77.5%);
$asdfasdasdfasdffasdf: white;

$banner-dark: rgba(black, 0.8);
$banner-light: rgba(black, 0.6);
