// Styles for the `FAQ` section

@import './utils/_colors.scss';

#faq {
  background-color: $background5;
  text-align: center;

  h1 {
    padding-top: 2em;
  }
}

#accordions {
  .panel {
    text-align: center;
  }
}

// Full-width cell that opens to reveal a submenu
a.accordion {
	width: 100%;
	text-align: left;
	text-decoration: none;
	box-sizing: border-box;
	border-radius: 0;
	color: $darkest-grey;
	background-color: $background1;

	&:hover {
		background-color: $primary-lighter;
	}

	&:nth-child(4n-1) {
		background-color: $background3;

		&:hover {
			background-color: $primary-lighter;
		}
	}

	&.active {
		background-color: $primary-light;
	}
}


