// Styles for the `Join` section

@import './utils/_colors.scss';
@import './utils/_breakpoints.scss';

$icon-size: 8em;

#join {
  background-color: $background4;
  padding: 4em;
  text-align: center;
  @media screen and (max-width: $tablet) {
    padding: 2em;
  }

  .new-position {
    background: #eee;
    margin: 10px;

    @media screen and (max-width: $mobile) {
      margin: 0px;
    }

    &:hover {
      box-shadow: #dedede 0 0 5px 5px;
    }
  }

  a {
    margin: 1em 1em;

    @media screen and (max-width: $laptop) {
      margin: 0.75em 0.5em;
    }

    @media screen and (max-width: $mobile) {
      margin: 0.25em;
    }
  }
}

