// Styles for the `Join` section

@import './utils/_colors.scss';
@import './utils/_breakpoints.scss';

$icon-size: 8em;

#join {
  padding: 4em;
  text-align: center;
  @media screen and (max-width: $tablet) {
    padding: 2em;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      padding: 1em 2em;

      @media screen and (max-width: $laptop) {
        padding: 1em 1em;
      }
    }
  }
}
