// Styles for the `Join` section

@import './utils/_colors.scss';
@import './utils/_breakpoints.scss';

$icon-size: 8em;

#join {
  background-color: $background-lighter;
  padding: 4em;
  text-align: center;
  @media screen and (max-width: $tablet) {
    padding: 2em;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      justify-content: flex-start;
    }

    a {
      margin: 1em 1em;

      @media screen and (max-width: $laptop) {
        margin: 0.75em 0.5em;
      }

      @media screen and (max-width: $mobile) {
        margin: 0.25em;
      }
    }
  }

  .newPosition {
    width: 30%;
    cursor: pointer;
    background: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    margin: 10px;
    margin-bottom: 30px;
    vertical-align: top;
    display: inline-block;
    height: 670px;
    border: 1px solid #eee;
    -webkit-transition: .6s;

    &:hover {
      box-shadow: #dedede 0px 0px 5px 5px;
    }
  }

}
