@import '_colors.scss';
@import './utils/_animation.scss';

$navbar-height: 80pt;
$collapsed-navbar-height: 60pt;

#navbar {
  position: fixed;
  width: 100%;
  z-index: 500;
  font-family: "Lato", sans-serif;

  a {
    text-decoration: none;
  }

  &.collapsed {
    @include animation(navbar-collapse, 0.5s);

    h1 a {
      @include animation(navbar-header-collapse, 0.5s);
    }

    li a {
      @include animation(navbar-nav-collapse, 0.5s);
    }
  }

  &.enlarged {
    @include animation(navbar-enlarge, 0.5s);

    h1 a {
      @include animation(navbar-header-enlarge, 0.5s);
    }

    li a {
      @include animation(navbar-nav-enlarge, 0.5s);
    }
  }
}

#navbar-header {
  padding-left: 6em;

  h1 {
    letter-spacing: 4pt;
    font-weight: 300;
  }
}

#navbar-nav {
  padding-right: 6em;

  ul {
    list-style-type: none;
  }

  li {
    display: inline;

    a {
      padding: 0 1em;
      letter-spacing: 2pt;
      font-size: $collapsed-navbar-height / 5;
      font-weight: 400;
    }
  }
}

/**
  Animation keyframes for collapsing and enlarging the
  navigation bar when scrolling to and away from the top
  of the page.
**/

@include keyframe(navbar-collapse) {
  from {
    background-color: transparent;
    height: $navbar-height;
  }
  to {
    background-color: white;
    height: $collapsed-navbar-height;
    border-bottom: 0.5px solid $light-grey;
  }
}

@include keyframe(navbar-enlarge) {
  from {
    background-color: white;
    height: $collapsed-navbar-height;
    border-bottom: 0.5px solid $light-grey;
  }
  to {
    background-color: transparent;
    height: $navbar-height;
  }
}

@include keyframe(navbar-header-enlarge) {
  from {
    font-size: $collapsed-navbar-height / 4;
    line-height: $collapsed-navbar-height;
    color: $dark-grey;
  }
  to {
    font-size: $navbar-height / 4;
    line-height: $navbar-height;
    color: white;
  }
}

@include keyframe(navbar-header-collapse) {
  from {
    font-size: $navbar-height / 4;
    line-height: $navbar-height;
    padding-top: $navbar-height * 3/8;
    padding-bottom: $navbar-height * 3/8;
    color: white;
  }
  to {
    font-size: $collapsed-navbar-height / 4;
    line-height: $collapsed-navbar-height;
    padding-top: $collapsed-navbar-height * 3/8;
    padding-bottom: $collapsed-navbar-height * 3/8;
    color: $dark-grey;
  }
}

@include keyframe(navbar-nav-enlarge) {
  from {
    line-height: $collapsed-navbar-height;
    padding-top: $collapsed-navbar-height * 3/8;
    padding-bottom: $collapsed-navbar-height * 3/8;
    color: $dark-grey;
  }
  to {
    line-height: $navbar-height;
    padding-top: $navbar-height * 3/8;
    padding-bottom: $navbar-height * 3/8;
    color: white;
  }
}

@include keyframe(navbar-nav-collapse) {
  from {
    line-height: $navbar-height;
    padding-top: $navbar-height * 3/8;
    padding-bottom: $navbar-height * 3/8;
    color: white;
  }
  to {
    line-height: $collapsed-navbar-height;
    padding-top: $collapsed-navbar-height * 3/8;
    padding-bottom: $collapsed-navbar-height * 3/8;
    color: $dark-grey;
  }
}
