@import '_colors.scss';
@import './utils/_animation.scss';
@import './utils/_constants.scss';

// Navbar element font sizes are determined based on navbar height
$navbar-height: 80pt;
$collapsed-navbar-height: 60pt;

$phablet-navbar-height: 60pt;
$phablet-collapsed-navbar-height: 40pt;

$mobile-navbar-height: 48pt;
$mobile-collapsed-navbar-height: 32pt;
$hamburger-height: 16px;

// Horizontal navbar padding
$navbar-padding: 6em;
$navbar-padding-tablet: 2em;
$navbar-padding-mobile: 1em;

#navbar {
  position: fixed;
  width: 100%;
  z-index: 500;
  font-family: "Lato", sans-serif;

  a {
    text-decoration: none;
  }

  &.collapsed {
    @include animation(navbar-collapse, 0.5s);

    h1 a {
      @include animation(navbar-header-collapse, 0.5s);
    }

    #navbar-nav li a {
      @include animation(navbar-nav-collapse, 0.5s);
    }

    #navbar-nav-mobile i {
      @include animation(navbar-nav-mobile-collapse, 0.5s);
    }
  }

  &.enlarged {
    @include animation(navbar-enlarge, 0.5s);

    h1 a {
      @include animation(navbar-header-enlarge, 0.5s);
    }

    #navbar-nav li a {
      @include animation(navbar-nav-enlarge, 0.5s);
    }

    #navbar-nav-mobile i {
      @include animation(navbar-nav-mobile-enlarge, 0.5s);
    }
  }
}

#navbar-header {
  padding-left: $navbar-padding;
  @media screen and (max-width: $laptop) {
    padding-left: $navbar-padding-tablet;
  }
  @media screen and (max-width: $phablet) {
    padding-left: $navbar-padding-mobile;
  }

  h1 {
    letter-spacing: 4pt;
    font-weight: 300;
  }
}

#navbar-nav {
  padding-right: $navbar-padding;
  @media screen and (max-width: $laptop) {
    padding-right: $navbar-padding-tablet;
  }

  @media screen and (max-width: $phablet) {
    display: none;
  }

  li {
    display: inline;

    a {
      padding: 0 1em;
      letter-spacing: 2pt;
      font-size: $collapsed-navbar-height / 5;
      font-weight: 400;

      @media screen and (max-width: $tablet) {
        font-size: $phablet-collapsed-navbar-height / 5;
      }
    }
  }
}

#navbar-nav-mobile {
  display: none;
  padding-right: $navbar-padding-mobile;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: $phablet) {
    display: flex;
  }

  .menu {
    display: none;
    padding: 1em;
    margin-top: 1em;
    align-items: flex-end;
    background-color: $background-lighter;
    border-color: $lightest-grey;
    border-radius: 1em;
    border-width: 0.5px;
    border-style: solid;
    box-shadow: 0.5px 0.5px 2px 1px $light-grey;

    a {
      color: $primary-light;

      &:hover, &:active {
        color: $primary-lighter;
      }
    }

    &.active {
      display: flex;
    }
  }
}

// Animation keyframes for collapsing and enlarging the
// navigation bar when scrolling to and away from the top
// of the page.

// Animations for large screens
@media screen and (min-width: $tablet) {
  @include keyframe(navbar-collapse) {
    from {
      background-color: transparent;
      height: $navbar-height;

    }
    to {
      background-color: white;
      height: $collapsed-navbar-height;
      border-bottom: 0.5px solid $light-grey;

    }
  }

  @include keyframe(navbar-enlarge) {
    from {
      background-color: white;
      height: $collapsed-navbar-height;
      border-bottom: 0.5px solid $light-grey;
    }
    to {
      background-color: transparent;
      height: $navbar-height;
    }
  }

  @include keyframe(navbar-header-enlarge) {
    from {
      font-size: $collapsed-navbar-height / 4;
      line-height: $collapsed-navbar-height;
      color: $dark-grey;
    }
    to {
      font-size: $navbar-height / 4;
      line-height: $navbar-height;
      color: white;
    }
  }

  @include keyframe(navbar-header-collapse) {
    from {
      font-size: $navbar-height / 4;
      line-height: $navbar-height;
      padding-top: $navbar-height * 3/8;
      padding-bottom: $navbar-height * 3/8;
      color: white;
    }
    to {
      font-size: $collapsed-navbar-height / 4;
      line-height: $collapsed-navbar-height;
      padding-top: $collapsed-navbar-height * 3/8;
      padding-bottom: $collapsed-navbar-height * 3/8;
      color: $dark-grey;
    }
  }

  @include keyframe(navbar-nav-enlarge) {
    from {
      line-height: $collapsed-navbar-height;
      padding-top: $collapsed-navbar-height * 3/8;
      padding-bottom: $collapsed-navbar-height * 3/8;
      color: $dark-grey;
    }
    to {
      line-height: $navbar-height;
      padding-top: $navbar-height * 3/8;
      padding-bottom: $navbar-height * 3/8;
      color: white;
    }
  }

  @include keyframe(navbar-nav-collapse) {
    from {
      line-height: $navbar-height;
      padding-top: $navbar-height * 3/8;
      padding-bottom: $navbar-height * 3/8;
      color: white;
    }
    to {
      line-height: $collapsed-navbar-height;
      padding-top: $collapsed-navbar-height * 3/8;
      padding-bottom: $collapsed-navbar-height * 3/8;
      color: $dark-grey;
    }
  }
}

// Animations for smaller screens
@media screen and (max-width: $tablet) {
  @include keyframe(navbar-collapse) {
    from {
      background-color: transparent;
      height: $phablet-navbar-height;
    }
    to {
      background-color: white;
      height: $phablet-collapsed-navbar-height;
      border-bottom: 0.5px solid $light-grey;
    }
  }

  @include keyframe(navbar-enlarge) {
    from {
      background-color: white;
      height: $phablet-collapsed-navbar-height;
      border-bottom: 0.5px solid $light-grey;
    }
    to {
      background-color: transparent;
      height: $phablet-navbar-height;
    }
  }

  @include keyframe(navbar-header-enlarge) {
    from {
      font-size: $phablet-collapsed-navbar-height / 4;
      line-height: $phablet-collapsed-navbar-height;
      color: $dark-grey;
    }
    to {
      font-size: $phablet-navbar-height / 4;
      line-height: $phablet-navbar-height;
      color: white;
    }
  }

  @include keyframe(navbar-header-collapse) {
    from {
      font-size: $phablet-navbar-height / 4;
      line-height: $phablet-navbar-height;
      padding-top: $phablet-navbar-height * 3/8;
      padding-bottom: $phablet-navbar-height * 3/8;
      color: white;
    }
    to {
      font-size: $phablet-collapsed-navbar-height / 4;
      line-height: $phablet-collapsed-navbar-height;
      padding-top: $phablet-collapsed-navbar-height * 3/8;
      padding-bottom: $phablet-collapsed-navbar-height * 3/8;
      color: $dark-grey;
    }
  }

  @include keyframe(navbar-nav-enlarge) {
    from {
      line-height: $phablet-collapsed-navbar-height;
      padding-top: $phablet-collapsed-navbar-height * 3/8;
      padding-bottom: $phablet-collapsed-navbar-height * 3/8;
      color: $dark-grey;
    }
    to {
      line-height: $phablet-navbar-height;
      padding-top: $phablet-navbar-height * 3/8;
      padding-bottom: $phablet-navbar-height * 3/8;
      color: white;
    }
  }

  @include keyframe(navbar-nav-collapse) {
    from {
      line-height: $phablet-navbar-height;
      padding-top: $phablet-navbar-height * 3/8;
      padding-bottom: $phablet-navbar-height * 3/8;
      color: white;
    }
    to {
      line-height: $phablet-collapsed-navbar-height;
      padding-top: $phablet-collapsed-navbar-height * 3/8;
      padding-bottom: $phablet-collapsed-navbar-height * 3/8;
      color: $dark-grey;
    }
  }
}

@media screen and (max-width: $phablet) {
  @include keyframe(navbar-nav-mobile-enlarge) {
    from {
      padding-top: ($phablet-collapsed-navbar-height - $hamburger-height) / 2;
      padding-bottom: ($phablet-collapsed-navbar-height - $hamburger-height) / 2;
      color: $dark-grey;
    }
    to {
      padding-top: ($phablet-navbar-height - $hamburger-height) / 2;
      padding-bottom: ($phablet-navbar-height - $hamburger-height) / 2;
      color: white;
    }
  }

  @include keyframe(navbar-nav-mobile-collapse) {
    from {
      padding-top: ($phablet-navbar-height - $hamburger-height) / 2;
      padding-bottom: ($phablet-navbar-height - $hamburger-height) / 2;
      color: white;
    }
    to {
      padding-top: ($phablet-collapsed-navbar-height - $hamburger-height) / 2;
      padding-bottom: ($phablet-collapsed-navbar-height - $hamburger-height) / 2;
      color: $dark-grey;
    }
  }
}

// Animations for smallest screens
@media screen and (max-width: $mobile) {
  @include keyframe(navbar-collapse) {
    from {
      background-color: transparent;
      height: $mobile-navbar-height;

    }
    to {
      background-color: white;
      height: $mobile-collapsed-navbar-height;
      border-bottom: 0.5px solid $light-grey;

    }
  }

  @include keyframe(navbar-enlarge) {
    from {
      background-color: white;
      height: $mobile-collapsed-navbar-height;
      border-bottom: 0.5px solid $light-grey;
    }
    to {
      background-color: transparent;
      height: $mobile-navbar-height;
    }
  }

  @include keyframe(navbar-header-enlarge) {
    from {
      font-size: $mobile-collapsed-navbar-height / 4;
      line-height: $mobile-collapsed-navbar-height;
      color: $dark-grey;
    }
    to {
      font-size: $mobile-navbar-height / 4;
      line-height: $mobile-navbar-height;
      color: white;
    }
  }

  @include keyframe(navbar-header-collapse) {
    from {
      font-size: $mobile-navbar-height / 4;
      line-height: $mobile-navbar-height;
      padding-top: $mobile-navbar-height * 3/8;
      padding-bottom: $mobile-navbar-height * 3/8;
      color: white;
    }
    to {
      font-size: $mobile-collapsed-navbar-height / 4;
      line-height: $mobile-collapsed-navbar-height;
      padding-top: $mobile-collapsed-navbar-height * 3/8;
      padding-bottom: $mobile-collapsed-navbar-height * 3/8;
      color: $dark-grey;
    }
  }

  @include keyframe(navbar-nav-mobile-enlarge) {
    from {
      padding-top: ($mobile-collapsed-navbar-height - $hamburger-height) / 2;
      padding-bottom: ($mobile-collapsed-navbar-height - $hamburger-height) / 2;
      color: $dark-grey;
    }
    to {
      padding-top: ($mobile-navbar-height - $hamburger-height) / 2;
      padding-bottom: ($mobile-navbar-height - $hamburger-height) / 2;
      color: white;
    }
  }

  @include keyframe(navbar-nav-mobile-collapse) {
    from {
      padding-top: ($mobile-navbar-height - $hamburger-height) / 2;
      padding-bottom: ($mobile-navbar-height - $hamburger-height) / 2;
      color: white;
    }
    to {
      padding-top: ($mobile-collapsed-navbar-height - $hamburger-height) / 2;
      padding-bottom: ($mobile-collapsed-navbar-height - $hamburger-height) / 2;
      color: $dark-grey;
    }
  }
}
