// Styles for the `Projects` section

@import './utils/_colors.scss';

#projects {
    background-color: $background3;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
    
    .contain {
        padding-bottom: 1em;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }

        .project-container {
            flex: 0 0 auto;
            display: table-cell;
            position: relative;
            background: #eee;
            margin: 10px;
            width: 30%;
            flex-shrink: 1;
            min-width: 360px;
            padding: 20px 0;
            -webkit-transition: all .6s;
            -moz-transition: all .6s;
            -o-transition: all .6s;
    
            a {
                text-decoration: none;
            }
    
            h2 {
                text-align: center;
            }
    
            .media {
                display: table;
                width: 100%;
                height: 275px;
                img {
                    display: table-cell;
                    vertical-align: middle; 
                    width: auto;
                    max-width: 90%;
                    max-height: 275px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
    
            .blurb {
                margin-left: auto; 
                margin-right: auto; 
                display: table;
                width: 70%;
                h3 {
                    white-space: normal;
                    display: table-cell; 
                    text-align: center;
                    vertical-align: middle; 
                    height: 75px;
                }
            }
    
            &:hover {
                box-shadow: #dedede 0 0 5px 5px;
              }
        
              @media screen and (max-width: $tablet) {
                width:40%;
              }
        
              @media screen and (max-width: $mobile) {
                width:80%;
                background: none;
              }
        }
    }
}
