// Styles for the `Sponsors` section

@import './utils/_breakpoints.scss';
@import './utils/_colors.scss';

#sponsors {
	background-color: $background5;
	text-align: center;
	padding: 4em;
	@media screen and (max-width: $tablet) {
		padding: 2em;
	}

	transition: background-color, 1s;

	&.digital-ocean {
		background-color: $digital-ocean-transparent;
	}

	&.github {
		background-color: $github-transparent;
	}

	&.mda {
		background-color: $mda-transparent;
	}
}

.sponsor {
	display: inline-block;
	width: 300px;
	margin: 1em;
	height: 12em;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	@media screen and (max-width: $tablet) {
		height: 8em;
	}

	@media screen and (max-width: $phablet) {
		width: 60%;
	}

	&:hover {
		opacity: 0.6;
	}

	&#digital-ocean {
		background-image: url('/img/sponsors/digital-ocean.png');
	}

	&#github {
		background-image: url('/img/sponsors/github.png');
	}

	&#mda {
		background-image: url('/img/sponsors/mda.png');
	}
}
