// Styles for the `Team` section

#team {
	display: block;
	position: relative;
	text-align: center;

	img.banner {
		width: 100%;
		display: block;
	}
}

h1.team {
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	top: 0.8em;
}

// Full-width cell that opens to reveal a submenu
a.accordion {
	width: 100%;
	text-align: left;
	text-decoration: none;
	box-sizing: border-box;
	border-radius: 0;
	color: $darkest-grey;
	background-color: $background1;

	&:hover {
		background-color: $primary-lighter;
	}

	&:nth-child(4n-1) {
		background-color: $background3;

		&:hover {
			background-color: $primary-lighter;
		}
	}

	&.active {
		background-color: $primary-light;
	}
}

// Revealed when an accordion is clicked
.panel {
	display: none;

	&.active {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 1em 2em;
	}
}

.member {
	padding: 2em;
}

.member-photo {
	width: 192px;
	height: 192px;
	border-radius: 96px;;
}

h1.member-name {
	font-size: 1.5em;
	padding-top: 0.75em;
	padding-bottom: 0em;
}

h2.member-position {
	text-transform: uppercase;
	padding-top: 0.25em;
}

@media screen and (max-width: $mobile) {
	h1.team {
		top: 0.1em;
	}
}
