#team {
	position: relative;
  text-align: center;

	img.banner {
		width: 100%;
	}
}

h1.team {
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	top: 1em;
}

// To account for space between image and accordions
.accordions {
	position: relative;
	top: -0.5em;
}

a.accordion {
	width: 100%;
	text-align: left;
	box-sizing: border-box;
	border-radius: 0;

	&:nth-child(4n-1) {
		background-color: $primary-accent;

		&:hover {
			background-color: $primary-light;
		}
	}

	&.active {
		background-color: $primary-light;
	}
}

.panel {
	display: none;

	&.active {
		display: flex;
		flex-direction: row;
		padding: 1em 2em;
	}
}

.member {
	padding: 2em;
}

.member-photo {
	width: 16em;
	height: 16em;
	border-radius: 8em;
}

h1.member-name {
	font-size: 1.5em;
	padding-top: 0.75em;
	padding-bottom: 0em;
}

h2.member-position {
	text-transform: uppercase;;
	padding-top: 0.25em;
}
