<footer class="site-footer">
	<div id="contact">
		<h1>Contact Us</h1>
		<div class="row">
			<div class="icon">
				<a href="https://www.facebook.com/ubclaunchpad">
					<i class="fa fa-lg fa-facebook"></i>
				</a>
			</div>
			<div class="icon">
				<a href="https://www.instagram.com/ubclaunchpad/">
					<i class="fa fa-lg fa-instagram"></i>
				</a>
			</div>
			<div class="icon">
				<a href="https://www.linkedin.com/company/ubc-launch-pad">
					<i class="fa fa-lg fa-linkedin"></i>
				</a>
			</div>
			<div class="icon">
				<a href="mailto:president@ubclaunchpad.com">
					<i class="fa fa-lg fa-envelope"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
