<header>
  <div id="navbar" class="enlarged">
    <div id="navbar-header" class="left">
      <h1>
        <a href="/" class="navbar header">UBC LAUNCH PAD</a>
      </h1>
    </div>
    <div id="navbar-nav" class="right">
      <ul>
        <li>
          <a id="nav-about" href="#about">ABOUT</a>
        </li>
        <li>
          <a id="nav-team" href="#team">TEAM</a>
        </li>
        <li>
          <a id="nav-sponsors" href="#sponsors">SPONSORS</a>
        </li>
        <li>
          <a id="nav-contact" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</header>
