<header>
  <div id="navbar">
    <div id="navbar-header" class="left">
      <a href="/" class="navbar header">
				<img src="/img/launchpad-logo.png" />
				<h1>UBC LAUNCH PAD</h1>
			</a>
    </div>
		<!-- Replace this with blog navigation -->
    <!--div id="navbar-nav" class="right">
      <ul>
        <li>
          <a id="nav-about" href="#about">ABOUT</a>
        </li>
        <li>
          <a id="nav-team" href="#team">TEAM</a>
        </li>
        <li>
          <a id="nav-sponsors" href="#sponsors">SPONSORS</a>
        </li>
        <li>
          <a id="nav-contact" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div-->
  </div>
</header>
