/* line 6, ../scss/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/_base.scss */
html {
  font-family: "Open Sans";
  font-size: 12pt;
  color: #525756;
}

/* line 17, ../scss/_base.scss */
h1 {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 2pt;
  color: #272d2c;
  padding-bottom: 1em;
}
@media screen and (max-width: 1080px) {
  /* line 17, ../scss/_base.scss */
  h1 {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 680px) {
  /* line 17, ../scss/_base.scss */
  h1 {
    font-size: 1.5em;
  }
}

/* line 33, ../scss/_base.scss */
h2 {
  font-size: 1em;
  letter-spacing: 2pt;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #1ca57a;
}

/* line 42, ../scss/_base.scss */
p {
  font-weight: 300;
  line-height: 1.5em;
}
/* line 46, ../scss/_base.scss */
p.large {
  font-size: 1.25em;
  line-height: 2em;
  padding-bottom: 2em;
  padding-left: 8em;
  padding-right: 8em;
}
@media screen and (max-width: 1300px) {
  /* line 46, ../scss/_base.scss */
  p.large {
    padding-left: 4em;
    padding-right: 4em;
  }
}
@media screen and (max-width: 1080px) {
  /* line 46, ../scss/_base.scss */
  p.large {
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
  }
}
/* line 65, ../scss/_base.scss */
p.small {
  padding: 0 2em;
  line-height: 2em;
}
@media screen and (max-width: 840px) {
  /* line 65, ../scss/_base.scss */
  p.small {
    padding: 0 1em;
    line-height: 1.5em;
  }
}

/* line 76, ../scss/_base.scss */
ul {
  list-style-type: none;
}

/* line 80, ../scss/_base.scss */
a {
  font-size: inherit;
  text-decoration: none;
  color: #e72750;
}
/* line 85, ../scss/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 90, ../scss/_base.scss */
.right {
  float: right;
}

/* line 94, ../scss/_base.scss */
.left {
  float: left;
}

/* line 98, ../scss/_base.scss */
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  /* line 98, ../scss/_base.scss */
  .row {
    flex-direction: column;
  }
}

/* line 108, ../scss/_base.scss */
.col {
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 680px) {
  /* line 108, ../scss/_base.scss */
  .col {
    padding: 1em;
  }
}

/* line 5, ../scss/_button.scss */
a.button {
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 1pt;
  color: white;
  display: inline-block;
  padding: 1em;
  border-radius: 2px;
  border-width: 0;
  transition: background-color, 0.5s;
  background-color: #1ca57a;
}
/* line 20, ../scss/_button.scss */
a.button:hover {
  background-color: #55bc9b;
}
/* line 24, ../scss/_button.scss */
a.button:focus, a.button:active {
  background-color: #8ed2bd;
}

/* line 22, ../scss/_nav.scss */
#navbar {
  position: fixed;
  width: 100%;
  z-index: 500;
  font-family: "Lato", sans-serif;
  transition: background-color 0.5s, height 0.5s;
}
@media screen and (max-width: 680px) {
  /* line 22, ../scss/_nav.scss */
  #navbar {
    display: none;
  }
}
/* line 32, ../scss/_nav.scss */
#navbar a {
  text-decoration: none;
}
/* line 38, ../scss/_nav.scss */
#navbar h1 a {
  transition: font-size 0.5s, line-height 0.5s, color 0.5s;
}
/* line 42, ../scss/_nav.scss */
#navbar li a {
  transition: line-height 0.5s, padding 0.5s, color 0.5s;
}
/* line 46, ../scss/_nav.scss */
#navbar.collapsed {
  background-color: white;
  height: 60pt;
  border-bottom: 0.5px solid #d4d5d5;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
  /* line 46, ../scss/_nav.scss */
  #navbar.collapsed {
    height: 50pt;
  }
}
@media screen and (min-width: 680px) and (max-width: 840px) {
  /* line 46, ../scss/_nav.scss */
  #navbar.collapsed {
    height: 40pt;
  }
}
/* line 59, ../scss/_nav.scss */
#navbar.collapsed h1 a {
  font-size: 15pt;
  line-height: 60pt;
  color: #525756;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
  /* line 59, ../scss/_nav.scss */
  #navbar.collapsed h1 a {
    font-size: 12.5pt;
    line-height: 50pt;
  }
}
@media screen and (min-width: 680px) and (max-width: 840px) {
  /* line 59, ../scss/_nav.scss */
  #navbar.collapsed h1 a {
    font-size: 10pt;
    line-height: 40pt;
  }
}
/* line 75, ../scss/_nav.scss */
#navbar.collapsed #navbar-nav li a {
  line-height: 60pt;
  padding-top: 22.5pt;
  padding-bottom: 22.5pt;
  color: #525756;
}
/* line 81, ../scss/_nav.scss */
#navbar.collapsed #navbar-nav li a.active {
  color: #1ca57a;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
  /* line 75, ../scss/_nav.scss */
  #navbar.collapsed #navbar-nav li a {
    line-height: 50pt;
    padding-top: 18.75pt;
    padding-bottom: 18.75pt;
  }
}
@media screen and (min-width: 680px) and (max-width: 840px) {
  /* line 75, ../scss/_nav.scss */
  #navbar.collapsed #navbar-nav li a {
    line-height: 40pt;
    padding-top: 15pt;
    padding-bottom: 40pt;
  }
}
/* line 99, ../scss/_nav.scss */
#navbar.enlarged {
  background-color: transparent;
  height: 80pt;
}
/* line 103, ../scss/_nav.scss */
#navbar.enlarged h1 a {
  font-size: 20pt;
  line-height: 80pt;
  color: white;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
  /* line 103, ../scss/_nav.scss */
  #navbar.enlarged h1 a {
    font-size: 17.5pt;
    line-height: 70pt;
  }
}
@media screen and (min-width: 680px) and (max-width: 840px) {
  /* line 103, ../scss/_nav.scss */
  #navbar.enlarged h1 a {
    font-size: 15pt;
    line-height: 60pt;
  }
}
/* line 119, ../scss/_nav.scss */
#navbar.enlarged #navbar-nav li a {
  line-height: 80pt;
  padding-top: 30pt;
  padding-bottom: 30pt;
  color: white;
}
/* line 125, ../scss/_nav.scss */
#navbar.enlarged #navbar-nav li a.active {
  color: #1ca57a;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
  /* line 119, ../scss/_nav.scss */
  #navbar.enlarged #navbar-nav li a {
    line-height: 70pt;
    padding-top: 26.25pt;
    padding-bottom: 26.25pt;
  }
}
@media screen and (min-width: 680px) and (max-width: 840px) {
  /* line 119, ../scss/_nav.scss */
  #navbar.enlarged #navbar-nav li a {
    line-height: 60pt;
    padding-top: 22.5pt;
    padding-bottom: 60pt;
  }
}

/* line 144, ../scss/_nav.scss */
#navbar-header {
  padding-left: 6em;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
  /* line 144, ../scss/_nav.scss */
  #navbar-header {
    padding-left: 2em;
  }
}
@media screen and (min-width: 680px) and (max-width: 840px) {
  /* line 144, ../scss/_nav.scss */
  #navbar-header {
    padding-left: 1em;
  }
}
/* line 154, ../scss/_nav.scss */
#navbar-header h1 {
  letter-spacing: 4pt;
  font-weight: 300;
}

/* line 160, ../scss/_nav.scss */
#navbar-nav {
  padding-right: 6em;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
  /* line 160, ../scss/_nav.scss */
  #navbar-nav {
    padding-right: 2em;
  }
}
@media screen and (min-width: 680px) and (max-width: 840px) {
  /* line 160, ../scss/_nav.scss */
  #navbar-nav {
    padding-right: 1em;
  }
}
/* line 170, ../scss/_nav.scss */
#navbar-nav li {
  display: inline;
}
/* line 173, ../scss/_nav.scss */
#navbar-nav li a {
  padding: 0 1em;
  letter-spacing: 2pt;
  font-weight: 400;
}
@media screen and (min-width: 680px) and (max-width: 840px) {
  /* line 173, ../scss/_nav.scss */
  #navbar-nav li a {
    padding: 0 0.5em;
  }
}

/* line 6, ../scss/_banner.scss */
#banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* line 14, ../scss/_banner.scss */
.banner-brand {
  position: relative;
  width: 100%;
  height: auto;
}
/* line 20, ../scss/_banner.scss */
.banner-brand:before {
  -webkit-animation-duration: 5s;
  -webkit-animation-name: banner;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 5s;
  -moz-animation-name: banner;
  -moz-animation-fill-mode: forwards;
  -o-animation-duration: 5s;
  -o-animation-name: banner;
  -o-animation-fill-mode: forwards;
  animation-duration: 5s;
  animation-name: banner;
  animation-fill-mode: forwards;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/img/launchpad-logo.png");
  background-position: 50% 35%;
  background-size: 60%;
  background-repeat: no-repeat;
  content: '';
}
@media screen and (min-width: 680px) and (max-width: 1080px) {
  /* line 20, ../scss/_banner.scss */
  .banner-brand:before {
    background-position: 50% 40%;
    background-size: 50%;
  }
}
@media screen and (min-width: 480px) and (max-width: 680px) {
  /* line 20, ../scss/_banner.scss */
  .banner-brand:before {
    background-position: 50% 25%;
    background-size: 60%;
  }
}
@media screen and (max-width: 480px) {
  /* line 20, ../scss/_banner.scss */
  .banner-brand:before {
    background-position: 50% 20%;
    background-size: 60%;
  }
}

/* line 49, ../scss/_banner.scss */
.banner-video {
  width: 100%;
  height: auto;
  z-index: -100;
}

/* line 55, ../scss/_banner.scss */
.banner-tagline {
  position: absolute;
  width: 100%;
  top: 75%;
  z-index: 100;
}
@media screen and (min-width: 480px) and (max-width: 1080px) {
  /* line 55, ../scss/_banner.scss */
  .banner-tagline {
    top: 70%;
  }
}
@media screen and (max-width: 480px) {
  /* line 55, ../scss/_banner.scss */
  .banner-tagline {
    top: 65%;
  }
}
/* line 69, ../scss/_banner.scss */
.banner-tagline p {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: center;
  color: white;
  margin: 0 20%;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
  /* line 69, ../scss/_banner.scss */
  .banner-tagline p {
    margin: 0 10%;
  }
}
@media screen and (min-width: 680px) and (max-width: 840px) {
  /* line 69, ../scss/_banner.scss */
  .banner-tagline p {
    font-size: 1em;
    margin: 0 5%;
  }
}
@media screen and (min-width: 480px) and (max-width: 680px) {
  /* line 69, ../scss/_banner.scss */
  .banner-tagline p {
    font-size: 0.9em;
    margin: 0 5%;
  }
}
@media screen and (max-width: 480px) {
  /* line 69, ../scss/_banner.scss */
  .banner-tagline p {
    font-size: 0.75em;
    margin: 0 5%;
  }
}

@-webkit-keyframes banner {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@-moz-keyframes banner {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@-o-keyframes banner {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@keyframes banner {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
/* line 7, ../scss/_about.scss */
#about {
  background-color: #e9eaea;
  padding: 4em;
  text-align: center;
}
@media screen and (max-width: 840px) {
  /* line 7, ../scss/_about.scss */
  #about {
    padding: 2em;
  }
}
/* line 15, ../scss/_about.scss */
#about .icon-container {
  display: inline-block;
  margin: 0 auto;
  width: 8em;
  height: 8em;
  border-radius: 4em;
  background-color: #55bc9b;
}
/* line 24, ../scss/_about.scss */
#about .icon-large {
  color: #e9eaea;
  font-size: 2.66667em;
  padding: 1em 0;
}

/* line 3, ../scss/_team.scss */
#team {
  display: block;
  position: relative;
  text-align: center;
}
/* line 8, ../scss/_team.scss */
#team img.banner {
  width: 100%;
  display: block;
}

/* line 14, ../scss/_team.scss */
h1.team {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 1em;
}

/* line 23, ../scss/_team.scss */
a.accordion {
  width: 100%;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0;
  color: #272d2c;
  background-color: #e9eaea;
}
/* line 32, ../scss/_team.scss */
a.accordion:hover {
  background-color: #8ed2bd;
}
/* line 36, ../scss/_team.scss */
a.accordion:nth-child(4n-1) {
  background-color: #f1f1f1;
}
/* line 39, ../scss/_team.scss */
a.accordion:nth-child(4n-1):hover {
  background-color: #8ed2bd;
}
/* line 44, ../scss/_team.scss */
a.accordion.active {
  background-color: #55bc9b;
}

/* line 50, ../scss/_team.scss */
.panel {
  display: none;
}
/* line 53, ../scss/_team.scss */
.panel.active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em 2em;
}

/* line 62, ../scss/_team.scss */
.member {
  padding: 2em;
}

/* line 66, ../scss/_team.scss */
.member-photo {
  width: 16em;
  height: 16em;
  border-radius: 8em;
}

/* line 72, ../scss/_team.scss */
h1.member-name {
  font-size: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0em;
}

/* line 78, ../scss/_team.scss */
h2.member-position {
  text-transform: uppercase;
  padding-top: 0.25em;
}

/* line 6, ../scss/_sponsors.scss */
#sponsors {
  background-color: #f8f8f8;
  text-align: center;
  padding: 4em;
  transition: background-color, 0.75s;
}
@media screen and (max-width: 840px) {
  /* line 6, ../scss/_sponsors.scss */
  #sponsors {
    padding: 2em;
  }
}
/* line 16, ../scss/_sponsors.scss */
#sponsors.digital-ocean {
  background-color: rgba(0, 136, 239, 0.5);
}
/* line 20, ../scss/_sponsors.scss */
#sponsors.github {
  background-color: rgba(0, 176, 121, 0.5);
}

/* line 25, ../scss/_sponsors.scss */
.sponsor {
  display: inline-block;
  width: 35%;
  margin: 1em;
  height: 12em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 840px) {
  /* line 25, ../scss/_sponsors.scss */
  .sponsor {
    height: 8em;
  }
}
@media screen and (max-width: 680px) {
  /* line 25, ../scss/_sponsors.scss */
  .sponsor {
    width: 60%;
  }
}
/* line 42, ../scss/_sponsors.scss */
.sponsor#digital-ocean {
  background-image: url("/img/sponsors/digital-ocean.png");
}
/* line 46, ../scss/_sponsors.scss */
.sponsor#github {
  background-image: url("/img/sponsors/github.png");
}

/* line 3, ../scss/_contact.scss */
#contact {
  background-color: #272d2c;
  padding: 2em;
  text-align: center;
}
/* line 8, ../scss/_contact.scss */
#contact h1 {
  color: #f8f8f8;
}
/* line 12, ../scss/_contact.scss */
#contact .row {
  flex-direction: row;
}
/* line 16, ../scss/_contact.scss */
#contact .icon {
  display: inline-block;
  padding: 1em;
}
/* line 20, ../scss/_contact.scss */
#contact .icon a {
  color: #f8f8f8;
}
/* line 23, ../scss/_contact.scss */
#contact .icon a:hover {
  color: #8ed2bd;
}
/* line 27, ../scss/_contact.scss */
#contact .icon a:active, #contact .icon a:focus {
  color: #55bc9b;
}

/* line 7, ../scss/_join.scss */
#join {
  padding: 4em;
  text-align: center;
}
@media screen and (max-width: 840px) {
  /* line 7, ../scss/_join.scss */
  #join {
    padding: 2em;
  }
}
/* line 14, ../scss/_join.scss */
#join .icon-container {
  display: inline-block;
  margin: 0 auto;
  width: 8em;
  height: 8em;
  border-radius: 4em;
  background-color: #55bc9b;
}
/* line 23, ../scss/_join.scss */
#join .icon-large {
  color: #e9eaea;
  font-size: 2.66667em;
  padding: 1em 0;
}
