// Utilities for creating vendor-prefixed animation properties.

@mixin keyframe ($animation_name) {
		@-webkit-keyframes #{$animation_name} {
				@content;
		}

		@-moz-keyframes #{$animation_name} {
				@content;
		}

		@-o-keyframes #{$animation_name} {
				@content;
		}

		@keyframes #{$animation_name} {
				@content;
		}
}

@mixin animation ($animation, $duration) {
		-webkit-animation-duration: $duration;
		-webkit-animation-name: $animation;
		-webkit-animation-fill-mode: forwards;

		-moz-animation-duration: $duration;
		-moz-animation-name: $animation;
		-moz-animation-fill-mode: forwards;

		-o-animation-duration: $duration;
		-o-animation-name: $animation;
		-o-animation-fill-mode: forwards;

		animation-duration: $duration;
		animation-name: $animation;
		animation-fill-mode: forwards;
}
